.candidate-details {
    padding: 0px 0px 0px 330px;
    width: 105%;
    order: 1;
  
    @media screen and (max-width: 575px) {
        width: 100%;
        order: 2;
        padding: 0px 0px 0px 10px;
    }
  }

  .candidate-profilefields {
      width: 25%;

      @media screen and (max-width: 575px) {
        width: 30%;
    }
  }
  .AlertAndFavoriteJobheaders{
    height: 9%;
  }
  .dashboardCardsMaxHeight{
    max-height: 400px;
    overflow-y: auto;
  }
  .JobAlertFont{
    color: #a1a1a1;
    font-family: none;
  }
  .JobAlertCalenderStyle{
    fill: steelblue !important;
  }
  .jobsearchHeader{
    height: 197px;
    @media screen and (max-width: 575px) {
      height: 338px;
  }
  }
  .gridViewAlign{
    margin-top: -88px;
    @media screen and (max-width: 575px) {
      margin-top: -36px;
  }
  }
  .gridListFilterwidth{
    width: 10%;
    @media screen and (max-width: 575px) {
      width: 40%;
  }
  }
  .allfontCapital{
    font-variant-caps: all-petite-caps;
    font-family: serif;
    color: cadetblue;
  }
  .jobList{
    width:80%;
    padding-bottom: 0px;
  }
  .jobAlertList{
    width:60%;
  }
  .AlertEditDeleteColor{
    background: white !important;
    color: cadetblue !important;
    cursor: pointer;
  }
  .candidatedetailheader{
      padding: 35px 50px 0px;
      margin: -30px -30px -55px;
      position: relative;
    
      @media screen and (max-width: 575px) {
        padding: 30px 49px;
        padding-bottom: 45px;
        margin: -20px;
        margin-bottom: -58px;
      }

    
  }
  .similarJobsPosition{
    width: 95%;
  }
  .cancleJobFilterButton{
    color: green;
    cursor: pointer;
  }
  .cancleJobFilterButton :hover{
   color: gray;
  }
  .jobListHeader{
    padding: 35px 50px 0px;
    margin: -30px -45px -90px;
    position: relative;
  
    @media screen and (max-width: 575px) {
      padding: 30px 49px;
      padding-bottom: 45px;
      margin: -20px;
      margin-bottom: -58px;
    }

  
}