//Profile App Style
.jr-profile-banner {
  padding: 35px 50px 65px;
  margin: -30px -30px -55px;
  background-color: white;
  color: black;
  position: relative;

  @media screen and (max-width: 575px) {
    padding: 30px 49px;
    padding-bottom: 45px;
    margin: -20px;
    margin-bottom: -58px;
  }

  &:before {
    content: "";
    position: relative;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: #3f51b5;
  }

  & > div {
    position: relative;
    z-index: 2;
  }

  h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6 {
    color: rgb(65, 64, 64);
  }

  & .jr-link {
    color: black;
    cursor: pointer;

    &:hover,
    &:focus {
      color: $secondary;
    }
  }
}
.workFlowSectionPanal {
  width: 40%;
  position:absolute;

  @media screen and (max-width: 575px) {
    width: 80%;
    position:absolute;
  }
}
.jobGridListWidth{
  width: 90%;
}
.employerProfileHeader{
  height: 145px;
  @media screen and (max-width: 575px) {
    height: 293px; 
  }
}
.pLineHeight{
  line-height: 5px;
}
.expansionPanel{
  display: block !important;
}
.addSection{
  display: flex;
  justify-content: space-between;
}
.outer {
  width: 1px;
  height: 100%;
  margin: auto;
  position: relative;
  overflow: hidden;
}
.inner {
  position: absolute;
  width:100%;
  height: 40%;
  background: grey;
  top: 30%;
  box-shadow: 0px 0px 30px 20px grey;}
  
.jr-profile-banner-top {
  @include display-flex(flex, row, wrap);
  @include align-items(center);
  margin-bottom: 40px;

  @media (max-width: 575px) {
    @include display-flex(flex, column, nowrap);
    margin-bottom: 25px;
  }
}
.dot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
}

.dotRed{
    background-color: red;
}

.dotGreen{
    background-color: green;
}
.jr-Dashboardprofile-banner-top {
  @include display-flex(flex, row, wrap);
  @include align-items(center);
    margin: -20px;
    width: 100%;

  @media (max-width: 575px) {
    @include display-flex(flex, column, nowrap);
    margin-bottom: 25px;
  }
}

.jr-profile-banner-top-left {
  @include display-flex(flex, row, wrap);
  @include align-items(center);

  @media (max-width: 575px) {
    @include display-flex(flex, column, nowrap);
    margin-bottom: 25px;
  }
}

.jr-profile-banner-avatar {
  margin-right: 1.5rem;

  @media (max-width: 575px) {
    margin-bottom: 8px;
    margin-right: 0;
  }
}
.datePickerWidth{
  width: 150% !important;
}
.dashboardProfileheader{
  line-height: 29px;
    margin-left: -234px;
    margin-top: -30px;
  @media (max-width: 575px) {
    margin-left: 0px;
  margin-top: 0px;
  }
}
.dashboardProfileheaderAfterSwitch{
  line-height: 29px;
margin-left: -7px;
margin-top: -30px;
  @media (max-width: 575px) {
    margin-left: 0px;
  margin-top: 0px;
  }
}
.employerDashboardProfileheaderAvatarInfo{
  line-height: 29px;
margin-left: 7px;
margin-top: -30px;
  @media (max-width: 575px) {
    margin-left: 0px;
  margin-top: 0px;
  }
}


.jr-profile-banner-top-right {
  text-align: center;
  margin-left: auto;

  @media (max-width: 575px) {
    margin-left: 0;
  }
}

.jr-profile-banner-bottom {
  @include display-flex(flex, row, wrap);
  @include align-items(center);

  @media (max-width: 575px) {
    @include display-flex(flex, column, nowrap);

    .jr-tab-list {
      margin-bottom: 10px;
    }
  }
}
.candidateProfileSectionPanal {
  width: 30%;
  position: absolute !important;
  @media (max-width: 575px) {
    width: 100% ;
    position: absolute !important;
  }
}
.candidateProfileDownloadDropDown {
  @media (max-width: 575px) {
    margin-top: 0px;
    
  }
}
.EtalentIdAlign{
  margin-bottom: 131px;
}
.dashboardEmployeeNameColourLink{
  color: black !important;
}
.alertListDaily{
  width: 4.285714em;
  text-align: center;
}
.alertListMonthly{
  width: 4.285714em;
  text-align: center;
}

.dashboardQuicklinkcardsStyle{
  align-items: center !important;
}
.employerDashboardQuickCards{
  padding-top: 15px;
    min-height: 80px;
    display: block;
    text-align: center;
}
.dashboardQuickLinksFont{
  color: gray !important;
}

.dashboardFilterChipsAlign{
    display: flex;
    justify-content: left;
    margin-bottom: 10px;
}
.dashboardFilterChipsStyle{
    color: #1d1d1d !important;
    border: 1px solid #a1a1a1 !important;
}
.profileAddEditButton{
  background: #3b7652 !important;
}
.profileAddEditButtonDisable{
  background: gray !important;
}

.cardHeaderAndAddButton {
  justify-content: space-between;
  display: flex;
}
.profileSectionEditAndDelete{
  justify-content: space-between;
}
.employerProfilefilterOptionsAlign{
  align-items: center;
  margin-bottom: -1.6rem;
}
.employerProfilefilterOptionsTextAlign{
  margin-bottom: 0rem !important;
}
.customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  padding: 7px;
  text-align: left;
  background-color: lightgray;
  color: black;
}
.candidateHeader{
  height: 19%;
}
.customers tr:nth-child(even){
  background-color: #f2f2f2;
}
.customers td {
  padding: 7px;
}
.employerDashboardStyle{
  width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 15px;
}
.customers tr:hover {
  background-color: #ddd;
}
.jobDetailsHeaderLineHeight{
  line-height: 1.5 !important;
}
.rowMarginRight{
  margin-right: 0px !important;
  margin-top: 30px;
}
.stages:hover{
  color: gray;
  cursor: pointer;
}
.jr-profile-content {
  position: relative;
  z-index: 2;
}

.jr-profile-setting {
  margin-left: auto;

  @media (max-width: 575px) {
    margin-left: 0;
  }
}

.jr-profile-content-right {

  @media (max-width: 575px) {
    @include display-flex(flex, row, wrap);
    @include align-items(center);

    .text-truncate {
      width: auto;
      margin-left: auto;
    }
  }
}

.jr-pro-contact-list {
  &:not(:last-child) {
    margin-bottom: 1rem;
  }
}

.addSectionOption{
  width: 285%;
  border: outset;
}
.profileInfoTextField{
  width:45%
}
.styleFlexAndSpaceBetween{
  display: flex;
  justify-content: space-between;
}
.educationDatePickerFiled{
  width: 40%;
}
.LikeThumbColorUserDefine{
  color: lightgreen;
  cursor: pointer;
}
p {
  font-size: 14px;
}
.dashboardHeaderPadding{
  padding-bottom: 6px;
}
.currentlyEnrolledMargin{
  margin-top: 30px;
  margin-bottom: -10px;
}
.alertDialogSize{
  width: 500px !important;
}
.vlineForAppliedJobs {
  border-left: 2px solid gray;
  height: 20px;
}
.appliedJobsIconColor{
  fill: orange !important;
}
.profileInfoTextFieldInRow{
  width:28%
}
.fontLabelColor{
  color:white;
}
.cardScrolling{
  @media (max-width: 575px) {
    overflow-x: auto;
  }
  
}

.dashboardQuickLinksDiv{
  margin-top: 42px;
  margin-left: 69px;
  margin-right: -72px;
  @media (max-width: 575px) {
    margin-left: 0;
  }
}
.dashboardAltertsAndEventsDiv{
  margin-top: 42px;
  margin-left: 3px;
  @media (max-width: 575px) {
    margin-left: 0px;
  }
}
.QuickProfileStyle{
  width: 65%;
}
.QuickProfileStyle :hover{
  background: lightblue;
}
.QuickEventsStyle{
  width: 65%;
}
/////////////////////// Epmloyer Card Ribbon
.box {
  position: relative;
  max-width: 600px;
  width: 90%;
  height: 400px;
  background: #fff;
  box-shadow: 0 0 15px rgba(0,0,0,.1);
}

/* common */
.ribbon {
  width: 103px;
  height: 78px;
  overflow: hidden;
  position: absolute;
}
.ribbon::before,
.ribbon::after {
  position: absolute;
  z-index: -1;
  content: '';
  display: block;
  border: 5px solid #2980b9;
}
.ribbon span {
  position: absolute;
  display: block;
  width: 215px;
  padding: 15px 0;
  background-color: #68896f;;
  box-shadow: 0 5px 10px rgba(0,0,0,.1);
  color: #fff;
  font: 600 14px/0 'Lato', sans-serif;
  text-shadow: 0 1px 1px rgba(0,0,0,.2);
  text-transform: uppercase;
  text-align: center;
}

/* top left*/
.ribbon-top-left {
  top: -10px;
  left: -10px;
}
.ribbon-top-left::before,
.ribbon-top-left::after {
  border-top-color: transparent;
  border-left-color: transparent;
}
.ribbon-top-left::before {
  top: 0;
  right: 0;
}
.ribbon-top-left::after {
  bottom: 0;
  left: 0;
}
.ribbon-top-left span {
  right: -25px;
  top: 30px;
  transform: rotate(-45deg);
}

/* top right*/
.ribbon-top-right {
  top: -1px;
    right: 13px;
}
.ribbon-top-right::before,
.ribbon-top-right::after {
  border-top-color: transparent;
  border-right-color: transparent;
}
.ribbon-top-right::before {
  top: 0;
  left: 0;
}
.ribbon-top-right::after {
  bottom: 0;
  right: 0;
}
.ribbon-top-right span {
    left: -46px;
    top: 12px;
    transform: rotate(38deg);
}

/* bottom left*/
.ribbon-bottom-left {
  bottom: -10px;
  left: -10px;
}
.ribbon-bottom-left::before,
.ribbon-bottom-left::after {
  border-bottom-color: transparent;
  border-left-color: transparent;
}
.ribbon-bottom-left::before {
  bottom: 0;
  right: 0;
}
.ribbon-bottom-left::after {
  top: 0;
  left: 0;
}
.ribbon-bottom-left span {
  right: -25px;
  bottom: 30px;
  transform: rotate(225deg);
}

/* bottom right*/
.ribbon-bottom-right {
  bottom: -10px;
  right: -10px;
}
.ribbon-bottom-right::before,
.ribbon-bottom-right::after {
  border-bottom-color: transparent;
  border-right-color: transparent;
}
.ribbon-bottom-right::before {
  bottom: 0;
  left: 0;
}
.ribbon-bottom-right::after {
  top: 0;
  right: 0;
}
.ribbon-bottom-right span {
  left: -25px;
  bottom: 30px;
  transform: rotate(-225deg);
}
////////////////////
.QuickEventsStyle :hover{
  background: rgb(245, 225, 211);
}
.employerDashboardRequsitionStyle{
  background:white;
  border-radius: 10px;
}
.employerDashboardRequsitionStyle :hover{
  background:wheat;
  zoom: 1.05
}
.employerDashboardAppliedCandidates{
  background: white;
  border-radius: 10px;
}
.employerDashboardAppliedCandidates :hover{
  background: rgb(176, 206, 203);
  zoom: 1.05;
}
.employerDashboardRejectedcandidates{
  background: white;
  border-radius: 10px;
}
.employerDashboardRejectedcandidates :hover{
  background: rgb(191, 241, 189);
  zoom: 1.05;
}
.employerDashboardOfferLatter{
  background: white;
  border-radius: 10px;
}
.employerDashboardOfferLatter :hover{
  background: yellowgreen;
  zoom: 1.05;
}
.employerDashboardHiredCandidates{
  background: white;
  border-radius: 10px;
}
.employerDashboardHiredCandidates :hover{
  background: violet;
  zoom: 1.05;
}
.QuickSettingsAndEventsStyle{
  width: 65%;
}
.QuickSettingsAndEventsStyle :hover{
  background: rgb(191, 241, 189);
}
.employerDashboardCardsBorder{
  border-radius: 10px !important;
}
.jr-card-profile {
  position: relative;

  &-sm {
    position: relative;
  }

  & .card-header {
    background-color: transparent;
    border-bottom: 0 none;
    padding: 18px $jr-card-padding;

    @media (max-width: 575px) {
      border-bottom: solid 1px $border-color;
    }
  }

  & .card-title {
    font-size: 18px;
    text-transform: capitalize;
  }

  & .jr-tabs-up {
    margin-top: -50px;

    @media (max-width: 575px) {
      margin-top: 0;
      margin-left: 30px;
      margin-right: 30px;
    }
  }

  & .jr-tabs-content {
    padding: 10px $jr-card-padding 20px;
  }
}
 